body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:100px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:100px;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:64px;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:18px;
  width:76px;
  height:64px;
  color:#FFB201;
}
#u1627 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:48px;
  color:#FFB201;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:17px;
  width:163px;
  height:66px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:48px;
  color:#FFB201;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u1630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:80px;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:10px;
  width:76px;
  height:80px;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:17px;
  width:66px;
  height:66px;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:1094px;
  background:inherit;
  background-color:rgba(255, 178, 1, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:170px;
  width:610px;
  height:1094px;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:539px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:48px;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:249px;
  width:457px;
  height:66px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:48px;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  white-space:nowrap;
}
#u1639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:768px;
  width:394px;
  height:99px;
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  word-wrap:break-word;
}
#u1641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:110px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:36px;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:972px;
  width:410px;
  height:110px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:36px;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:406px;
  word-wrap:break-word;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:362px;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:379px;
  width:544px;
  height:362px;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:173px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:605px;
  width:11px;
  height:11px;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:41px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:476px;
  width:27px;
  height:41px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:476px;
  width:27px;
  height:27px;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:35px;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:601px;
  width:23px;
  height:35px;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:29px;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:538px;
  width:16px;
  height:29px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:551px;
  width:11px;
  height:11px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:547px;
  width:11px;
  height:11px;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:575px;
  width:11px;
  height:11px;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:561px;
  width:11px;
  height:11px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:533px;
  width:11px;
  height:11px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:590px;
  width:11px;
  height:11px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:538px;
  width:11px;
  height:11px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:542px;
  width:11px;
  height:11px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:548px;
  width:11px;
  height:11px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:556px;
  width:11px;
  height:11px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:87px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:774px;
  width:67px;
  height:87px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:110px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:36px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:1100px;
  width:410px;
  height:110px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:36px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:406px;
  word-wrap:break-word;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:1094px;
  background:inherit;
  background-color:rgba(255, 178, 1, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:170px;
  width:610px;
  height:1094px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:539px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:1094px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:170px;
  width:631px;
  height:1094px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:539px;
  width:627px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:47px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:991px;
  width:35px;
  height:47px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 70, 72, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:1162px;
  width:191px;
  height:79px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir Book', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:187px;
  word-wrap:break-word;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1234px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.83921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:750px;
  height:1234px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:609px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:531px;
  background:inherit;
  background-color:rgba(255, 178, 1, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:286px;
  width:573px;
  height:531px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:258px;
  width:569px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:62px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:739px;
  width:218px;
  height:62px;
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:214px;
  word-wrap:break-word;
}
#u1698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:50px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:300px;
  width:23px;
  height:50px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:350px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:360px;
  width:404px;
  height:350px;
  font-family:'Avenir-Book', 'Avenir Book', 'Avenir';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  word-wrap:break-word;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 178, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:650px;
  height:92px;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1234px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:750px;
  height:1234px;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:609px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 178, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:92px;
}
.u1709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Fett', 'Arial Standard', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u1710 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:29px;
  width:165px;
  height:16px;
  font-family:'Arial Fett', 'Arial Standard', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u1711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  visibility:hidden;
  white-space:nowrap;
}
.u1712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u1712 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:29px;
  width:154px;
  height:37px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
.u1713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
.u1714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
.u1714 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:26px;
  width:40px;
  height:40px;
}
.u1715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:92px;
}
#u1707-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:92px;
  width:650px;
  height:92px;
}
#u1707-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:184px;
  width:650px;
  height:92px;
}
#u1707-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:276px;
  width:650px;
  height:92px;
}
#u1707-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:368px;
  width:650px;
  height:92px;
}
#u1707-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:460px;
  width:650px;
  height:92px;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:650px;
  height:552px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
